<v-card class="elevation-12">
  <v-toolbar dark color="primary">
    <v-btn icon href="/">
      <image src="<%= image_url('million-logo.svg') %>">
    </v-btn>
    <v-spacer></v-spacer>
    <v-tooltip bottom>
      <v-btn flat small slot="activator" href="/signup">Cadastre-se</v-btn>
      <span>Ainda não tenho conta</span>
    </v-tooltip>
  </v-toolbar>
  <v-form action="/sessions" method="post">
    <%= hidden_field_tag 'authenticity_token', form_authenticity_token %>
    <v-card-text>
      <v-text-field prepend-icon="person" name="access" label="login ou email" type="text" autocomplete="username" required></v-text-field>
      <v-text-field prepend-icon="lock" name="password" label="Senha" type="password" autocomplete="current-password" required></v-text-field>
    </v-card-text>
    <v-card-actions>
      <v-spacer></v-spacer>
      <v-btn flat small href="/recover">Esqueci minha senha</v-btn>
      <v-btn type="submit" color="primary">Entrar</v-btn>
    </v-card-actions>
  </v-form>
</v-card>
