<h1>Bem-vind@ ao Million, <%= @user.presentation_name %></h1>
<h2>É um prazer ter você conosco!</h2>
<p>Vamos começar, para isso precisamos ativar sua conta. Por favor, clique no link abaixo.</p>
<%= link_to 'Ativar conta!', @url %>
<p>Esperamos que o aplicativo <strong>Million</strong> seja útil, e com uma melhor educação financeira, você fique milionário!</p>
<p>Aproveite!</p>
<p>Equipe <strong>Million</strong></p>
