<%= content_for :css do %>
  <%= stylesheet_link_tag 'entry_index', media: 'all' %>
<% end %>

<div class="container">
  <h2>Receitas</h2>

  <section class="action">
    <%= link_to('Nova receita', new_entry_path(current_user, type: 'revenue'), class: 'button') %>
    <div class="clear"></div>
  </section>

  <%= render partial: 'table' %>
</div>
