<div class="ls-box ls-board-box">
  <header class="ls-info-header">
    <h2 class="ls-title-3">Resumo do dia</h2>
    <p class="ls-float-right ls-float-none-xs ls-small-info">
      Lançamentos do dia <strong><%= DateTime.current.strftime('%d/%m/%Y') %></strong>
    </p>
  </header>
  <div id="sending-stats" class="row">
    <div class="col-sm-12 col-xs-12 col-md-3">
      <daily-balance
        :userid="<%= current_user.id.to_json %>"
        :reload="reloadBalance">
      </daily-balance>
    </div>
    <div class="col-sm-12 col-xs-12 col-md-3">
      <daily-expense
        :userid="<%= current_user.id.to_json %>"
        :reload="reloadBalance">
      </daily-expense>
    </div>
    <div class="col-sm-12 col-xs-12 col-md-3">
      <daily-revenue
        :userid="<%= current_user.id.to_json %>"
        :reload="reloadBalance">
      </daily-revenue>
    </div>
  </div>
</div>
