<div class="ls-box ls-board-box">
    <header class="ls-info-header">
        <h2 class="ls-title-3">Resumo do dia</h2>
        <p class="ls-float-right ls-float-none-xs ls-small-info">Lançamentos do dia <strong><%= I18n.l(Date.today) %></strong></p>
    </header>
    <% if @today_expenses.empty? && @today_revenues.empty? %>
        <p class="ls-no-data">Ainda não há entradas hoje</p>
    <% else %>
        <div id="sending-stats" class="row">
            <div class="col-sm-6 col-md-3">
                <div class="ls-box">
                    <div class="ls-box-head">
                        <h6 class="ls-title-4">SALDO</h6>
                    </div>
                    <div class="ls-box-body">
                        <strong>
                            <%=
                                number_to_currency(
                                    @today_revenues.map(&:amount).reduce(&:+).to_f - @today_expenses.map(&:amount).reduce(&:+).to_f
                                )
                            %>
                        </strong>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="ls-box">
                    <div class="ls-box-head">
                        <h6 class="ls-title-4">DESPESAS</h6>
                    </div>
                    <div class="ls-box-body">
                        <strong>
                            <%= number_to_currency(@today_expenses.map(&:amount).reduce(&:+).to_f) %>
                        </strong>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="ls-box">
                    <div class="ls-box-head">
                        <h6 class="ls-title-4">RECEITAS</h6>
                    </div>
                    <div class="ls-box-body">
                        <strong>
                            <%= number_to_currency(@today_revenues.map(&:amount).reduce(&:+).to_f) %>
                        </strong>
                    </div>
                </div>
            </div>
        </div>
    <% end %>
</div>
