<v-card height="100%">
  <v-card-title primary-title>
    <div>
      <h3 class="headline">
        Resumo do dia
      </h3>
      <div>Lançamentos do dia <strong><%= DateTime.current.strftime('%d/%m/%Y') %></strong></div>
    </div>
  </v-card-title>
  <v-container fluid grid-list-lg>
    <v-layout row wrap>
      <v-flex xs12>
        <v-card color="primary white--text">
          <v-card-title class="pb-0">
            <div class="title">Saldo</div>
          </v-card-title>
          <daily-balance
            class="text-xs-center headline"
            userid="<%= current_user.id %>"
            :reload="reloadBalance">
          </daily-balance>
        </v-card>
      </v-flex>
      <v-flex xs12 sm6>
        <v-card color="primary white--text">
          <v-card-title class="pb-0">
            <div class="title">Receitas</div>
          </v-card-title>
          <daily-expense
            class="text-xs-center headline"
            userid="<%= current_user.id %>"
            :reload="reloadBalance">
          </daily-expense>
        </v-card>
      </v-flex>
      <v-flex xs12 sm6>
        <v-card color="primary white--text">
          <v-card-title class="pb-0">
            <div class="title">Despesas</div>
          </v-card-title>
          <daily-revenue
            class="text-xs-center headline"
            userid="<%= current_user.id %>"
            :reload="reloadBalance">
          </daily-revenue>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</v-card>
