<v-card>
  <v-card-title primary-title>
    <div>
      <h3 class="headline md-o">
        Resumo do dia
        <v-chip small color="success" text-color="white">Novo</v-chip>
      </h3>
      <div>Lançamentos do dia <strong><%= DateTime.current.strftime('%d/%m/%Y') %></strong></div>
    </div>
  </v-card-title>
  <v-container fluid style="min-height: 0;" grid-list-lg>
    <v-layout row wrap>
      <v-flex xs12>
        <v-card color="cyan darken-2 white--text">
          <v-card-title>
            <div class="title">Saldo</div>
          </v-card-title>
          <v-card-media>
            <v-container>
              <daily-balance
                class="text-xs-center"
                :userid="<%= current_user.id.to_json %>"
                :reload="reloadBalance">
              </daily-balance>
            </v-container>
          </v-card-media>
        </v-card>
      </v-flex>
      <v-flex xs12 sm6>
        <v-card color="cyan darken-2 white--text">
          <v-card-title>
            <div class="title">Receitas</div>
          </v-card-title>
          <v-card-media>
            <v-container>
              <daily-expense
                class="text-xs-center"
                :userid="<%= current_user.id.to_json %>"
                :reload="reloadBalance">
              </daily-expense>
            </v-container>
          </v-card-media>
        </v-card>
      </v-flex>
      <v-flex xs12 sm6>
        <v-card color="cyan darken-2 white--text">
          <v-card-title>
            <div class="title">Despesas</div>
          </v-card-title>
          <v-card-media>
            <v-container>
              <daily-revenue
                class="text-xs-center"
                :userid="<%= current_user.id.to_json %>"
                :reload="reloadBalance">
              </daily-revenue>
            </v-container>
          </v-card-media>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</v-card>
