<div class="ls-box ls-board-box">
  <header class="ls-info-header">
    <h2 class="ls-title-3">Resumo do mês</h2>
    <p class="ls-float-right ls-float-none-xs ls-small-info">
      Lançamentos a partir de <strong><%= DateTime.current.at_beginning_of_month.strftime('%d/%m/%Y') %></strong>
    </p>
  </header>
  <div id="sending-stats" class="row">
    <div class="col-sm-12 col-xs-12 col-md-4">
      <monthly-balance
        :userid="<%= current_user.id.to_json %>"
        :reload="reloadBalance">
      </monthly-balance>
    </div>
    <div class="col-sm-12 col-xs-12 col-md-4">
      <monthly-expense
        :userid="<%= current_user.id.to_json %>"
        :reload="reloadBalance">
      </monthly-expense>
    </div>
    <div class="col-sm-12 col-xs-12 col-md-4">
      <monthly-revenue
        :userid="<%= current_user.id.to_json %>"
        :reload="reloadBalance">
      </monthly-revenue>
    </div>
  </div>
</div>
