<div data-ls-module="collapse" data-target="#entry-form" class="ls-collapse">
  <a href="#" class="ls-collapse-header">
    <h2 class="ls-collapse-title ls-sm-margin-bottom">Lançar nova <%= @entry.expense? ? 'despesa' : 'receita' %></h2>
    <p>Tenha controle sobre sua vida financeira</p>
  </a>
  <div id="entry-form" class="ls-collapse-body">
    <%= render 'form_inline' %>
  </div>
</div>


