<div data-ls-module="collapse" data-target="#entry-form" class="ls-collapse">
  <a href="#" class="ls-collapse-header">
    <h3 class="ls-collapse-title">Lançar</h3>
  </a>
  <div id="entry-form" class="ls-collapse-body">
    <%= render 'form_inline' %>
  </div>
</div>


