<v-card>
  <v-container fill-height>
    <v-layout align-center>
      <v-flex>
        <v-card-title primary-title>
          <div>
          <h3 class="headline md-0">
            Nova entrada
            <v-chip small color="success" text-color="white">Novo</v-chip>
          </h3>
          <div>Adicionar suas novas entradas diretamente por aqui.</div>
        </div>
        </v-card-title>
        <v-card-text>
          <new-entry
            :options="<%= @options %>"
            @entrycreated="createdEntry($event)"
            @entryfailed="failedEntry($event)">
          </new-entry>
        </v-card-text>
      </v-flex>
    </v-layout>
  </v-container>
</v-card>
