<%= content_for :css do %>
  <%= stylesheet_link_tag 'table', media: 'all' %>
<% end %>

<table>
  <thead>
    <tr>
      <th>Categoria</th>
      <th>Descrição</th>
      <th>Valor</th>
      <th>Data</th>
      <th>Ações</th>
    </tr>
  </thead>

  <tbody>
    <% @entries.each do |entry| %>
      <%= render partial: 'entry', locals: { entry: entry } %>
    <% end %>
  </tbody>
</table>

