<table class="ls-table">
    <thead>
        <tr>
            <th class="ls-ico-envelop ls-txt-center hidden-xs">Envelope</th>
            <th class="ls-ico-pencil2 ls-txt-center hidden-xs">Descrição</th>
            <th class="ls-ico-origins ls-txt-center">Valor</th>
            <th class="ls-ico-calendar ls-txt-center">Data</th>
            <th class="ls-ico-menu ls-txt-center">Ações</th>
        </tr>
    </thead>
    <tbody>
        <%= render partial: 'entries', collection: @entries %>
    </tbody>
</table>
