<v-card height="100%">
  <v-card-text>
    <v-card-title primary-title>
      <h3 class="title">
        Meu saldo
      </h3>
    </v-card-title>
    <total-balance class="text-xs-center" :userid="<%= current_user.id.to_json %>" :reload="reloadBalance"></total-balance>
  </v-card-text>
  <v-card-actions>
    <v-spacer></v-spacer>
    <v-btn href="<%= expenses_path(current_user) %>" color="primary" flat dark>Ver despesas</v-btn>
    <v-btn href="<%= revenues_path(current_user) %>" color="primary" flat dark>Ver receitas</v-btn>
  </v-card-actions>
  <balance-per-month :userid="<%= current_user.id.to_json %>"></balance-per-montha>
</v-card>
