<div class="ls-box ls-board-box">
  <header class="ls-info-header">
    <h2 class="ls-title-3">Meu saldo</h2>
  </header>
  <div id="sending-stats">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <total-balance :userid="<%= current_user.id.to_json %>" :reload="reloadBalance"></total-balance>
    </div>
  </div>
</div>
