<%= render 'form_inline', form_title: 'Edite sua ' + (@entry.expense? ? 'despesa' : 'receita') %>
<!-- esta tabela garante que o layout vai ocupar 100% da largura da tela. -->
<!-- TODO: Aprender como ocupar toda a largura da tela com flex box -->
<table class="ls-table"></table>
