<div class="ls-box ls-board-box">
  <header class="ls-info-header">
    <h2 class="ls-title-3 ls-ico-calendar">Lançamentos mês a mês de <strong><%= Time.current.strftime('%Y') %></strong><span class="ls-tag">Novo</span></h2>
    <p class="ls-float-right ls-float-none-xs ls-small-info">
      Acompanhe as receitas e despesas lado a lado e veja se os seus gastos não ultrapassam os seus ganhos.
    </p>
  </header>
  <div class="col-sm-12 col-xs-12 col-md-12 ls-xs-space">
    <div class="ls-box ls-xs-space">
      <by-month userid="<%= current_user.id %>"></by-month>
    </div>
  </div>
</div>

