<v-card class="elevation-12">
  <v-toolbar dark color="primary">
    <v-btn icon href="/">
      <image src="<%= image_url('million-logo.svg') %>">
    </v-btn>
    <v-spacer></v-spacer>
    <v-tooltip bottom>
      <v-btn flat small slot="activator" href="/login">Fazer login</v-btn>
      <span>Já tenho conta</span>
    </v-tooltip>
  </v-toolbar>
  <v-form action="/users" method="post">
    <%= hidden_field_tag 'authenticity_token', form_authenticity_token %>
    <v-card-text>
      <v-text-field prepend-icon="person" name="user[username]" label="Nome de acesso" type="text" autocomplete="username" required></v-text-field>
      <v-text-field prepend-icon="mail" name="user[email]" label="Email" type="email" autocomplete="email" required></v-text-field>
      <v-text-field prepend-icon="lock" name="user[password]" label="Senha" type="password" autocomplete="new-password" required></v-text-field>
      <v-text-field prepend-icon="lock" name="user[password_confirmation]" label="Confirmação de senha" type="password" autocomplete="new-password" required></v-text-field>
    </v-card-text>
    <v-card-actions>
      <v-spacer></v-spacer>
      <v-btn type="submit" color="primary">Salvar</v-btn>
    </v-card-actions>
  </v-form>
</v-card>
