<v-card class="elevation-12">
  <v-toolbar dark color="primary">
    <v-btn icon href="/">
      <image src="<%= image_url('million-logo.svg') %>">
    </v-btn>
    <v-spacer></v-spacer>
    <v-tooltip bottom>
      <v-btn flat small slot="activator" href="/login">Fazer login</v-btn>
      <span>Lembrei meus dados</span>
    </v-tooltip>
  </v-toolbar>
  <v-form action="/recover" method="post">
    <%= hidden_field_tag 'authenticity_token', form_authenticity_token %>
    <v-card-text>
      <v-text-field prepend-icon="person" name="email" label="Email" type="email" autocomplete="email" required></v-text-field>
    </v-card-text>
    <v-card-actions>
      <v-spacer></v-spacer>
      <v-btn type="submit" color="primary">Enviar</v-btn>
    </v-card-actions>
  </v-form>
</v-card>
