<div class="ls-box ls-box-board ls-txt-justify">
    <header class="ls-info-header">
        <h2 class="ls-title-3 ls-ico-bullhorn">Manifesto</h2>
    </header>
    <p class="ls-text-xl">Million é um gerenciador pessoal de finanças simples e eficiente. Com ele, você terá uma visão geral de todas as suas despesas e todas as suas receitas de forma clara.</p>
    <p class="ls-text-xl">O objetivo do Million é ajudar você a se educar na gestão de suas finanças e a se planejar, fazendo com que alcance cada uma de suas metas.</p>
    <p class="ls-text-xl">Nesta versão inicial, o Million te permite adicionar suas despesas e receitas, e visualizar seus saldos de algumas diferentes maneiras, mas trabalhamos constantemente em nosso painel, e logo teremos muitas novidades.</p>
    <p class="ls-text-xl">Em breve, você também poderá cadastrar orçamentos, dando a cada envelope (categoria de receita ou despesa) um valor previsto de gastos ou recebimentos. Com estes orçamentos, e com a visão em tempo real de seu saldo, você verá com clareza para onde está indo seu dinheiro.</p>
    <p class="ls-text-xl">Ainda uma nova funcionalidade, na qual estamos trabalhando, é o cadastro de objetivos, que te permitirá estabelecer metas, e acompanhar seu progresso a cada novo lançamento de receita ou despesa.</p>
    <p class="ls-text-xl">Nós da equipe Million acreditamos que a educação financeira é uma ferramenta que nos protege de diversos imprevistos do dia a dia, e nos torna capazes de realizar muitos de nossos sonhos.</p>
    <p class="ls-text-xl">Venha fazer parte desta geração.</p>

    <p class="ls-text-xl">Equipe <strong>Million</strong></p>
    <div class="ls-box-footer ls-txt-center">
        <%= link_to 'Cadastre-se', signup_path, class: 'ls-btn-primary ls-ico-users', 'data-ls-module': 'popover', 'data-trigger': 'hover', 'data-title': 'Junte-se a nós!', 'aria-label': 'Faça seu cadastro e junte-se a nós' %>
    </div>
</div>
