/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  width: 100%;
  grid-template-areas: "nav" "main" "footer";
  grid-template-rows: 64px 84.5vh 64px;
  background-color: rgb(230, 230, 230);
}

.toolbar {
  grid-area: nav;
  display: flex;
  justify-content: space-between;
  background-color: #ffb300; /* amber darken-1 */
}

.toolbar #logo {
  flex: 1;
  align-items: center;
}

.toolbar #logo img {
  vertical-align: middle;
}

.toolbar .menu-inline {
  padding: 0;
  display: flex;
  width: 25vw;
  flex: 1;
  align-items: center;
}

.toolbar .menu-inline .menu-item {
  flex: 1;
  list-style: none;
  text-align: center;
}

.toolbar .menu-inline .menu-item a {
  text-decoration: none;
  color: black;
  height: 100%;
}

.toolbar .menu-inline .menu-item a:hover {
  color: #e65100; /*  #e65100 orange darken-4 */
  text-transform: uppercase;  
}

#main {
  grid-area: main;
}

#footer {
  display: flex;
  align-items: center;
  grid-area: footer;
  background-color: #9e6f00;
}

#footer p {
  flex: 1;
  text-align: center;
  color: #f4f4f4;
  font-style: bold;
}

@media (max-width: 768px) {
  body {
    display: grid;
    width: 100%;
    grid-template-areas: "nav" "main" "footer";
    grid-template-rows: 128px 70vh 64px;
  }

  .toolbar {
    display: grid;
    grid-template-areas: "logo" "menu";
    grid-template-rows: 1fr 1fr;
  }

  .toolbar #logo {
    grid-area: logo;
    text-align: center;
  }

  .toolbar .menu-inline {
    grid-area: menu;
    padding: 0;
    display: flex;
    width: 100vw;
    border-top: 1px dotted black;
  }

  .toolbar .menu-inline .menu-item {
    flex: 1;
    list-style: none;
    text-align: center;
  }
}