/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans HK', sans-serif;
}

:root {
  --amber-darken-4: #ff8a30;
  --gray-font: #666;
}

.button {
  padding: 10px;
  background-color: var(--amber-darken-4);
  box-shadow: -1px 1px 3px var(--gray-font);
  text-decoration: none;
  color: white;
}

body {
  display: grid;
  grid-template-areas: "toolbar" "main" "footer";
  grid-template-rows: 128px calc(100vh - 192px) 64px;
  background-color: #eeeeee;
  /* background-color: rgb(230, 230, 230); */
}

.toolbar {
  grid-area: toolbar;
  display: grid;
  grid-template-areas: "logo" "menu";
  grid-template-rows: 1fr 1fr;
  background-color: #ffb300; /* amber darken-1 */
}

.toolbar #logo {
  text-align: center;
  grid-area: logo;
}

.toolbar #logo img {
  vertical-align: middle;
}

.toolbar .menu-inline {
  grid-area: menu;
  display: flex;
  padding: 0;
  width: 100vw;
  border-top: 1px dotted black;
  align-items: center;
}

.toolbar .menu-inline .menu-item {
  flex: 1;
  list-style: none;
  text-align: center;
}

.toolbar .menu-inline .menu-item a {
  text-decoration: none;
  color: black;
  height: 100%;
}

.toolbar .menu-inline .menu-item a:hover {
  color: #e65100; /*  #e65100 orange darken-4 */
  text-transform: uppercase;
}

#main {
  grid-area: main;
  overflow: auto;
}

#footer {
  grid-area: footer;
  display: grid;
  grid-template-rows: 1fr;
  background-color: #9e6f00;
  color: #f4f4f4;

  place-items: center;
}

#footer p {
  grid-rows: 1 / 1;
}

@media (min-width: 768px) {
  body {
    grid-template-rows: 64px calc(100vh - 128px) 64px;
  }

  .toolbar {
    grid-template-areas: "logo menu";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }

  .toolbar #logo {
    grid-area: logo;
    text-align: start;
  }

  .toolbar .menu-inline {
    grid-area: menu;
    padding: 0;
    display: flex;
    border: 0px;
    width: auto;
  }
}
