.shadow {
  /* box-shadow: offset-x | offset-y | blur-radius | color */
  box-shadow: -2px 2px 5px #555;
}

.entries-container, .balance-container {
  margin: 20px 0;
}

@media screen and (min-width: 768px) {
  .form-container {
    clear: both;
    margin-top: 20px;
  }

  .balance-container, .entries-container {
    margin-bottom: 20px;
  }

  .balance-container {
    float: left;
    width: calc(100% / 2 - 10px);
  }

  .entries-container {
    float: right;
    width: calc(100% / 2 - 10px);
  }

  .clear {
    clear: both;
  }
}
