select {
  padding: 10px;
  width: 100%;
}

.form-container {
  background-color: #fff;
  padding: 10px 5px;
}

.form-group input {
  text-align: left;
  padding-left: 10px;
  background-color: rgb(248, 248, 248);
}

/* Begin of line 1 */

.form-container .entry-date {
  float: left;
  width: 50%;
  margin-bottom: 10px;
}

.form-container .entry-date input {
  color: #666;
  width: 100%;
  padding: 10px;
}

.form-container .entry-type {
  float: right;
  width: 50%;
  color: #666;
  padding: 4px 0px;
}

#radio-expense {
  float: right;
  width: 50%;
}

#radio-revenue {
  float: left;
  width: 50%;
}

label[for="entry_type_expense"], label[for="entry_type_revenue"] {
  color: transparent;
  vertical-align: middle;
  background-repeat: no-repeat;
  display: inline-block;
  height: 1.6rem;
}

#entry_type_revenue, #entry_type_expense {
  opacity: 0;
  margin: 5px;
}

label[for="entry_type_expense"] {
  background-image: image-url('icons/menos-off.svg');
}

label[for="entry_type_revenue"] {
  background-image: image-url('icons/mais-off.svg');
}

#entry_type_expense:checked + label[for="entry_type_expense"] {
  background-image: image-url('icons/menos-on.svg');
  transform: scale(2);
}

#entry_type_revenue:checked + label[for="entry_type_revenue"] {
  background-image: image-url('icons/mais-on.svg');
  transform: scale(2);
}
/* end of line 1 */

.form-container .entry-wallet {
  clear: both;
  margin-bottom: 10px;
}

.form-container .entry-wallet select {
  height: 2.375rem;
  color: var(--gray-font);
  font-weight: 700;
}

.form-container .entry-category {
  margin-bottom: 10px;
}

.form-container .entry-category select {
  height: 2.375rem;
  color: var(--gray-font);
}

.form-container .entry-description {
  margin-bottom: 10px;
}

.form-container .entry-description input {
  padding: 10px;
  width: 100%;
}

.form-container .entry-amount {
  float: left;
  width: calc(100% / 2 - 5px);
}

.form-container .entry-amount input {
  padding: 10px;
  width: 100%;
}

.form-container .action-group {
  float: right;
  width: calc(100% / 2 - 5px);
  border: 1px solid black;
}

.form-container .invisible {
  display: none;
}

.form-container input, .form-container select {
  border: none;
  border-radius: 4px;
}

.clear {
  clear: both;
}

@media all and (min-width: 425px) {
  .form-container .entry-type {
      text-align: center;
  }
}

@media all and (max-width: 299px) {
  .form-container .entry-date {
     width: 100%;
  }

  .form-container .entry-type {
     width: 100%;
     text-align: center;
     margin-bottom: 10px;
  }

  .form-container .entry-amount {
    width: 100%;
    margin-bottom: 10px;
  }

  .form-container .action-group {
    width: 100%;
  }
}
