section.action a {
  float: right;
}

.button {
  font-size: 1rem;
}

table {
  margin-top: 20px;
  width: 100%;
  text-align: center;
}

thead tr {
  background-color: var(--second-color);
  font-size: 1rem;
}

tbody tr:nth-child(odd) {
  background-color: #ddd;
}

th, td {
  padding: 8px;
}

table tr:hover {
  background-color: var(--second-color);
}

table tbody .action a {
  background-color: var(--fourth-color);
  color: black;
}
