section.action a {
  float: right;
}

.button {
  font-size: 1rem;
}

table {
  margin-top: 20px;
  width: 100%;
  text-align: center;
}

thead tr {
  font-size: 1rem;
}

tbody tr:nth-child(odd) {
  background-color: #ddd;
}

th, td {
  padding: 8px;
}

td a {
  text-decoration: none;
}

table tr:hover {
  background-color: var(--secondary-color);
}

table tbody .action a {
  color: black;
}

tr a {
  color: inherit;
}

td.action {
  text-align: center;
}

td.action a {
  padding: 3px;
  border-radius: 4px;
}

td.action .icon-edit-entry {
  background-color: var(--fifth-color);
}

td.action .icon-remove-entry {
  background-color: var(--third-color);
}
