li {
  list-style: none;
}

h2 {
  margin-bottom: 10px;
}

.container {
  padding: 10px 24px;
}

.grid {
  display: grid;
  grid-auto-rows: 1fr;
  place-content: center;
}

.grid li {
  display: grid;
  place-items: center;
  font-size: 200%;
}
